extends layout

block content
    h1 #{title}
    form(method='POST', action='/menu/edit/'+item._id)
      #form-group
        label Title:  #{item.title}
      #form-group
        label Description:
        textarea.form-control(name='body')= item.description
      br
      input.btn.btn-primary(type='submit',value='Submit')