extends layout

block content
    h1 #{title}
    ul.list-group
      each item, i in Menu
        li.list-group-item
          a(href="/menu/"+item._id)= item.title  
          a(href="/menu/"+item._id)= item.price