extends layout

block content
  h1 #{item.title}
  h5 #{item.cupSize}
  h5 #{item.description}
  h6 $ #{item.price}
  hr
  a.btn.btn-success(href='/cart/'+item._id) Add
  a.btn.btn-success(href='/menu/edit/'+item._id) Edit